@media (max-width:576px) {
    .navbar-nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}

#collapsibleNavbar{
margin-right:10%;
}

.nav-item{
padding: 3%;
}