
<nav class="navbar navbar-expand-sm bg-light">

    <a href="" class="navbar-brand">
        <img src="../../assets/Home_Images/HomeLogoF.jpg" alt="" height="50px" width="100rem" class="ms-4">
        <!-- <h3 class="ms-3">Logo</h3> -->
    </a>
   
    <button class="navbar-toggler me-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">

        <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse justify-content-end me-5" id="collapsibleNavbar">

        <ul class="navbar-nav">

            <li class="nav-item text-nowrap"><a href="/"  class="nav-link"  data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" >Profile</a></li>

            <li class="nav-item text-nowrap"><a  class="nav-link" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" routerLink="/Latest-jobs">Latest Jobs
            </a></li>
        </ul> 

    </div>
</nav>